<script>
    function render_mermaid() {
        mermaid.initialize({
            startOnLoad: false,
            theme: "default",
            flowchart: {
                useMaxWidth: true,
            },
        });
        window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));

        console.log('loading mermaid icons');
        load_icons();
    }

    function initialize_mermaid() {
        if (document.readyState === "loading") {
            // Loading hasn't finished yet
            document.addEventListener("DOMContentLoaded", render_mermaid);
        } else {
            // `DOMContentLoaded` has already fired
            render_mermaid();
        }
    }

    function load_icons(){
        mermaid.registerIconPacks([
        {
            name: 'logos',
            loader: () =>
            fetch('https://unpkg.com/@iconify-json/logos/icons.json').then((res) => res.json()),
        },
        ]);

        mermaid.registerIconPacks([
        {
            name: 'arcticons',
            loader: () =>
            fetch('https://unpkg.com/@iconify-json/arcticons@1.2.4/icons.json').then((res) => res.json()),
        },
        ]);

        mermaid.registerIconPacks([
        {
            name: 'devicon',
            loader: () =>
            fetch('https://unpkg.com/@iconify-json/devicon@1.2.4/icons.json').then((res) => res.json()),
        },
        ]);

        mermaid.registerIconPacks([
        {
            name: 'carbon',
            loader: () =>
            fetch('https://unpkg.com/@iconify-json/carbon@1.2.3/icons.json').then((res) => res.json()),
        },
        ]);

        mermaid.registerIconPacks([
        {
            name: 'simple-icons',
            loader: () =>
            fetch('https://unpkg.com/@iconify-json/simple-icons@1.2.9/icons.json').then((res) => res.json()),
        },
        ]);

    }

    if (window.mermaid_script && window.mermaid) {
        initialize_mermaid();
    } else {
        window.mermaid_script = document.createElement("script");
        mermaid_script.onload = initialize_mermaid;
        document.head.appendChild(mermaid_script);
        mermaid_script.defer = true;
        mermaid_script.id = 'mermaid-script';
        mermaid_script.src = 'https://unpkg.com/mermaid@11.3.0/dist/mermaid.min.js';
    }
</script>
